<div data-theme='c' data-role='content' class="ui-content ui-body-c">
	<div id='frage' data-value='<%= id %>'>
		<span class='fEinleitung'>In den letzten 2 Arbeitsstunden</span>
		<%= txt %>
	</div>

	<ul id='antwort' data-role='listview' data-inset='true'>
		<li data-icon='<% print((ant == 1) ? 'check' : 'false') %>'><a href='#' data-value='1'
			onClick='fb2.setzeAntwort({"kodierung": "<%= kodierung %>", "zeit": (new Date()).getTime(),	"antw": "1"});' 
			>Trifft überhaupt nicht zu</a></li>
		<li data-icon='<% print((ant == 2) ? 'check' : 'false') %>'><a href='#' data-value='2'
			onClick='fb2.setzeAntwort({"kodierung": "<%= kodierung %>", "zeit": (new Date()).getTime(),	"antw": "2"});' 
			>Trifft eher nicht zu</a></li>
		<li data-icon='<% print((ant == 3) ? 'check' : 'false') %>'><a href='#' data-value='3'
			onClick='fb2.setzeAntwort({"kodierung": "<%= kodierung %>", "zeit": (new Date()).getTime(),	"antw": "3"});' 
			>Teils teils</a></li>
		<li data-icon='<% print((ant == 4) ? 'check' : 'false') %>'><a href='#' data-value='4'
			onClick='fb2.setzeAntwort({"kodierung": "<%= kodierung %>", "zeit": (new Date()).getTime(),	"antw": "4"});' 
			>Trifft eher zu</a></li>
		<li data-icon='<% print((ant == 5) ? 'check' : 'false') %>'><a href='#' data-value='5'
			onClick='fb2.setzeAntwort({"kodierung": "<%= kodierung %>", "zeit": (new Date()).getTime(),	"antw": "5"});' 
			>Trifft völlig zu</a></li>
	</ul>

</div>
<div data-theme='c' data-role='footer' data-position='fixed'>
	<div data-role='navbar' data-iconpos='left'>
		<ul>
			<% if (!prev || (prev == null)) %>
			<li><a href='#' data-icon='home' >home</a></li>
			<% else { %>
			<li><a href='#f?<%= prev %>' data-icon='arrow-l' >zurück</a></li>
			<% } %>
			<li><a href='#<% print((next == null) ? 'S' : 'f?' + next) %>' data-icon='arrow-r' >weiter</a></li>
		</ul>
	</div>
</div>
