<div data-theme='c' class='settings'>
	<!-- Status: <%= status %> Version: <%= version %> -->
	<div >Gerätename: <%= device %></div>
	<div >Startdatum: <% print(tag.toGerman()); %></div>
	<input type='button' value='übertrage alle Daten' id='save0DataButton'
		<% if(!navigator.onLine) { print("class='ui-disabled'"); } %>
		onclick='if (navigator.onLine) fb2.saveAll();'
	/>
	<div data-role="popup" id="settingsSaveAllDataErfolg">
		<p>Die Daten wurden erfolgreich übertragen.<p>
	</div>
	<div data-role="popup" id="settingsSaveAllDataFehler">
		<p>Beim Übertragen der Daten ist ein Fehler aufgetreten.<p>
	</div>
</div>
